@font-face {
    font-family: 'CosmicOcto';
    src: url('../fonts/Cosmic/cosmic.ttf') format('truetype');
}

@font-face {
    font-family: 'TTOctosquares';
    src: url('../fonts/tt_octosquares/TT Octosquares Trial Regular.ttf') format('truetype');
}

:root {
    --fuente-1: 'CosmicOcto', Arial, sans-serif;
    --fuente-2: 'TTOctosquares', Arial, sans-serif;
}
html{
	margin: 0;
	padding: 0;
}

body {
    background: url("../img/Background-Desktop.jpeg") no-repeat;
	background-size: cover;
}
a{
	text-decoration: none;
	color: white;
}

h1, h2{
    color: white;
    position: absolute;
    left: 15vw;
}

h1{
    font-family: var(--fuente-1);
    top: 10vh;
}

h2{
    font-family: var(--fuente-2);
    top: 10vh;
	right: 10vw;
    font-size: 100px;
}
img{
	position: relative;
	left: 80vw;
	top: 9vh;
	width: 7vw;
	height: 10vh;
}

.container {
	position: absolute;
	left: 16vw;
	top: 45%;
	transform: translate(-50%,-50%);
	padding: 10px;
}

.rectangulo {
	position: absolute;
	top: 31vh;
	outline: none;
	box-sizing: border-box;
	height: 8vh;
	width: 0;
	padding: 0 20px;
	color: white;
    font-family: var(--fuente-2);
	border-radius: 50px;
	padding-top: 12px;
    background-color: #FF0F7B;
	transition: all .7s ease;
	display: flex;
	justify-content: center;
    text-align: center;
	font-weight: 600;
}

.btn {
	position: absolute;
	right: 0px;
	left: 0px;
	top: 30vh;
	width: 10vh;
	height: 10vh;
	background: white;
	line-height: 80px;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
	transition: .5s;
}


.container:hover .rectangulo {
	display: block;
	width: 280px;

	
}

.btn:hover{
	background: white;
	transition: all .7s ease;
}
